/* Reset e base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", serif;
}

/* Fundo com imagem */
.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/background.jpg") center/cover no-repeat;
  opacity: 0.1;
  z-index: -1;
}

/* Conteúdo principal */
.content {
  position: relative;
  z-index: 1;
  flex: 1;
  padding-bottom: 1rem;
}

/* Título */
.title {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  background-color: #eee;
  padding: 2rem;
}

.title h1 {
  font-size: 3.8rem;
  color: #775282;
}

/* Formulário */
.classForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.formulario form {
  display: flex;
  gap: 10px;
}

.formulario input {
  appearance: none;
  border: none;
  outline: none;
  border-bottom: 0.2em solid #775282;
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.4em;
  width: 40rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #111;
  background-color: #ececec;
}

/* Botão */
.btn {
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: #775282;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.btn:before,
.btn:after {
  content: "";
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.btn:before {
  background-color: #67a;
  background-size: 400%;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  top: -2px;
  left: -2px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  animation: glowing 20s linear infinite;
}

.btn:hover:before {
  opacity: 1;
}

.btn:after {
  background-color: #775282;
}

.btn:active {
  background-color: #775282;
  color: #fff;
}

/* Animação */
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Lista de Tarefas */
.list {
  width: 800px;
}

.list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 48%;
  height: 65px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #775282;
  border: 1px solid #8a8a8a;
  border-radius: 6px;
  box-shadow: 2px 2px 4px #0a0a0a;
  overflow: scroll;
  scrollbar-width: none;
}

.task-text {
  flex: 1;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

/* Checkbox personalizado */
.list input[type="checkbox"] {
  appearance: none;
  background: #573b60;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #0a0a0a;
  display: grid;
  place-content: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.list input[type="checkbox"]::before {
  content: "";
  width: 1rem;
  height: 1rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #eee;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform-origin: left top;
  background-color: CanvasText;
}

.list input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/* Texto e botões nas tarefas */
.list ul li span {
  font-size: 1.5rem;
  color: #fff;
}

.list ul li button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.list ul li button svg {
  width: 20px;
  color: #eee;
  transition: 0.2s ease-in-out;
}

.list ul li button svg:hover {
  color: #fff;
  transform: scale(1.1);
}

/* Estado: sem tarefas */
.no-tasks {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 9rem;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 4px #0a0a0a;
}

.no-tasks img {
  width: 50px;
  margin-bottom: 5px;
}

.no-tasks h2,
.no-tasks p {
  color: rgb(10, 10, 10, 0.8);
  font-size: 1.4rem;
}

.no-tasks p {
  font-size: 1.2rem;
}

/* Rodapé */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  padding: 2rem;
  color: #775282;
  width: 100%;
}

footer ul {
  display: flex;
  list-style: none;
  margin-top: 5px;
}

footer ul li {
  padding: 0 10px;
  font-size: 1.4rem;
}

footer ul li a {
  color: #121212;
}

footer ul li a:hover {
  color: #775282;
}

/* Responsividade */
@media (max-width: 900px) {
  .list {
    width: 720px;
  }
  .list ul {
    width: 720px;
  }
}

@media (max-width: 768px) {
  .list,
  .list ul {
    width: 575px;
  }
}

@media (max-width: 575px) {
  .list,
  .list ul {
    flex-direction: row;
    justify-content: center;
    width: 360px;
  }

  .list ul li {
    width: 100%;
  }

  .formulario input {
    width: 25rem;
  }

  .no-tasks {
    padding: 5rem;
  }

  .btn {
    width: 85px;
  }
}

@media (max-width: 400px) {
  .title h1 {
    font-size: 3rem;
  }

  .list,
  .list ul {
    width: 300px;
  }

  .formulario input {
    width: 20rem;
  }

  .no-tasks {
    padding: 4rem 2rem;
  }

  .btn {
    width: 70px;
  }

  footer {
    padding: 1rem;
  }

  footer h2,
  footer ul li {
    font-size: 1.2rem;
  }
}
